@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  background: rgb(31, 41, 55);
  background: linear-gradient(
    180deg,
    rgba(31, 41, 55, 1) 0%,
    rgba(0, 0, 0, 1) 73%
  );
  color: white;
  margin: 0;
  padding: 0;
}
